.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    /*height: 300px;*/
    border: 1px solid black;
}

.slide {
    position: absolute;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    color: #ffff;
    background-size: cover;
    background-repeat: no-repeat;
}

.blue { background-image: url("./img_fjords_wide.jpg"); }
.red { background: red; }
.green { background: green;}
.orange { background: orange; }
.purple { background: purple; }

nav {
    margin: 20px auto;
    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
}